body
  font-family Arial, sans-serif
p 
  line-height 1.3em
  margin-bottom 0.5em

h2
  &:hover
    cursor pointer
  font-size 28px
  font-weight bold
  color #000
    
h2 + p, p + h2
  margin-top 28px

.article-container
  background-color #efefef
  margin 10px 10px 0 10px
  padding 20px
  position relative
  box-sizing border-box
  color #696969
  border 1px solid rgba(0, 0, 0, 0.1)
  box-shadow 1px 1px 4px rgba(0, 0, 0, 0.2)

    h2, .article-preamble
      //text-decoration underline

  img
    width 100%
    margin-bottom 10px

  &.ad
    background-color #fffbf2

  &.expanded
    .article-body
      display block

    &:hover
      cursor default

      h2, .article-preamble
        text-decoration none


.ad-label
  position absolute
  top -7px
  left 0
  font-size 7px
  line-height 7px
  color black

.article-preamble
  font-weight bold
  margin 10px 0

.article-body
  display none

.authors, .author
  margin-top 10px

  .author-image
    display inline-block
    vertical-align middle
    width 15%

  .author-contact
    display inline-block
    vertical-align middle
    width 85%
    box-sizing border-box
    padding-left 5px

