@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body
  font-family Arial, sans-serif
  background-color #efefef

p
  color #000
  font-size 1em
  line-height 1.3em
  margin-bottom 0.5em

h2
  font-family: 'Droid Serif', serif;
  font-size 1.5em
  font-weight bold
  color #000
  line-height 1.2em
  &:hover
    cursor pointer

.article-container
  background-color #fff
  margin 10px 10px 0 10px
  padding 20px
  position relative
  box-sizing border-box
  color #696969
  border 1px solid rgba(0, 0, 0, 0.1)
  box-shadow 1px 1px 4px rgba(0, 0, 0, 0.2)

  img
    width 100%
    margin-bottom 10px

  &.ad
    background-color #fffbf2

  &.expanded
    .article-body
      display block

    &:hover
      cursor default

      h2, .article-preamble
        text-decoration none


.ad-label
  position absolute
  top -7px
  left 0
  font-size 7px
  line-height 7px
  color black

.article-preamble
  margin 10px 0

.article-body
  display none

  h2
    font-size 1.2em
    line-height 1em
    margin 1.1em 0 0.6em

.authors, .author
  margin-top 10px

  .author-image
    display inline-block
    vertical-align middle
    width 15%

  .author-contact
    display inline-block
    vertical-align middle
    width 85%
    box-sizing border-box
    padding-left 5px

.content-wrapper
  max-width 480px
  margin 0 auto

.close-article-btn
  display block
  width 20px
  height 20px

  position absolute
  top 10px
  right 10px

  border-radius 20px
  border 2px solid rgba(0, 0, 0, 0.5)
  background-color #fff
  color rgba(0, 0, 0, 0.5)

  text-align center
  line-height 20px
  cursor pointer

.close-btn
  border solid rgba(0, 0, 0, 0.5)
  border-width 2px 0 0
  text-align center
  font-size 20px
  padding 10px 0
  margin-top 20px
  cursor pointer
