doctype html
html(ng-app="infeed")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href='http://fonts.googleapis.com/css?family=Satisfy', rel='stylesheet', type='text/css')
    if develop
      link(href="css/app.css", type="text/css", rel="stylesheet")
    else
      link(href="css/app-#{version}.min.css", type="text/css", rel="stylesheet")
  body(ng-controller="MainController")
    .header
      h1 Infeed Magic

    div.article(ng-repeat="article in feed", ng-class='{"ad": article.ad, "expanded": article.expanded}', ng-click="article.expanded = !article.expanded", class="article-container")
      span(ng-show="article.ad").ad-label ANNONS
      //img(ng-src="{{article.listingImage}}")
      h2 {{article.headline}}
      p.article-preamble {{article.preamble}}
      p.article-body {{article.bodyText}}

      div.authors
        div.author(ng-repeat="author in article.authors")
          span.author-image(ng-if="author.image")
            img(ng-src="{{author.image.versions[0].url}}")
          span.author-contact
            h3.author-name {{author.name}}
            p
              i {{author.email}}

    if develop
      each jsFile in jsLibFiles
        script(src="js/#{jsFile}")

    each jsFile in jsFiles
      script(src="js/#{jsFile}")

    if develop
      script(src="//localhost:9001/livereload.js")
